.main-layout{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
}

.nav-bar{
    position: fixed;
    width: 250px;
}

.pages{
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    margin-left: 250px;
    overflow-y: auto;
}