.dashboard-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.create-test-case-comp {
  flex-basis: 100%;
}

.recent-demos-comp,
.recent-reports-comp {
  flex-basis: calc(50% - 20px);
  flex-grow: 1;
}

button {
  width: 50px;
  height: 70px;
  border-radius: 10px;
}
