.create-test-layout{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.btnSubmit, .btnClear{
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: cornflowerblue;
    border: none;
    width: 80px;
    height: 40px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.btnClear{
    background-color: crimson;
    margin-left: 20px;
}

button:hover{
    cursor: pointer;
    box-shadow: 7px 7px 14px rgba(0,0,0,0.3);
}